<ion-view view-title="{{title}}">


  <ion-content>
    <div class="card">
      <ion-item class-="item item-thumbnail-left">
        <img class="category-pic" ng-src="assets\img\icon.png" >
        <span style="font-family: Arial Black; text-align: center;">TriniBiz Admin Center<span>
      </ion-item>
    </div>
    <ion-scroll style="height:500px;">
      <div style="height:1000px;">
      <form class="list" name="addUserForm" novalidate ng-submit="addUser()" >
          <ion-item class="item item-icon-left item-text-wrap" style="border: none">
            <i class="icon ion-person royal"></i>
          </ion-item>
          <ion-item class="item  item-text-wrap" style="border: none">
              First Name:
              <label class="item item-input" ng-class="{ 'has-errors' : addUserForm.fname.$invalid, 'no-errors' : addUserForm.fname.$valid}">
                <input type="text" name="fname" placeholder="First Name" ng-model="data.fname" required />
              </label>
              <div class="error-container" ng-messages="addBusinessForm.fname.$error" ng-messages-include="templates/app_messages.html"></div>
          </ion-item>
          <ion-item class="item  item-text-wrap" style="border: none">
              Last Name:
              <label class="item item-input" ng-class="{ 'has-errors' : addUserForm.lname.$invalid, 'no-errors' : addUserForm.lname.$valid}">
                <input type="text" name="lname" placeholder="Last Name" ng-model="data.lname" required />
              </label>
              <div class="error-container" ng-messages="addBusinessForm.lname.$error" ng-messages-include="templates/app_messages.html"></div>
          </ion-item>
          <ion-item class="item  item-text-wrap" style="border: none">
              Username:
              <label class="item item-input" ng-class="{ 'has-errors' : addUserForm.uname.$invalid, 'no-errors' : addUserForm.uname.$valid}">
                <input type="text" name="uname" placeholder="Username" ng-model="data.uname" required />
              </label>
              <div class="error-container" ng-messages="addBusinessForm.uname.$error" ng-messages-include="templates/app_messages.html"></div>
          </ion-item>
          <ion-item class="item  item-text-wrap" style="border: none">
            Email:
              <label class="item item-input" ng-class="{ 'has-errors' : addUserForm.email.$invalid, 'no-errors' : addUserForm.email.$valid}">
                <input type="text" name="email" placeholder="Email" ng-model="data.email" required />
              </label>
              <div class="error-container" ng-messages="addBusinessForm.email.$error" ng-messages-include="templates/app_messages.html"></div>
          </ion-item>
          <ion-item class="item  item-text-wrap" style="border: none">
            Type:
              <label class="item item-input" ng-class="{ 'has-errors' : addUserForm.type.$invalid, 'no-errors' : addUserForm.type.$valid}">
                <input type="text" name="type" placeholder="regular, owner or service provider?" ng-model="data.type" required />
              </label>
              <div class="error-container" ng-messages="addBusinessForm.type.$error" ng-messages-include="templates/app_messages.html"></div>
          </ion-item>

        <button ng-disabled="addUserForm.$invalid" class="button button-stable button-block">
            Add User
        </button>

      </form>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
