<!--script id="app_messages.html" type="text/ng-template"-->
    <div class="error" ng-message="required">
      <i class="ion-information-circled"></i>
      This field is required!
    </div>
    <div class="error" ng-message="tel">
      <i class="ion-information-circled"></i>
      Invalid telephone number format (format required (868) 222-1111)
    </div>
    <div class="error" ng-message="minlength">
      <i class="ion-information-circled"></i>
      Minimum length of this field is 6 characters!
    </div>
    <div class="error" ng-message="maxlength">
      <i class="ion-information-circled"></i>
      Maximum length of this field is 20 characters!
    </div>
    <div class="error" ng-message="email">
      <i class="ion-information-circled"></i>
      Invalid email address!
    </div>
    <div class="error" ng-message="comparedTo">
      <i class="ion-information-circled"></i>
      Must match the previous entry!
    </div>
  <!--/script-->
