<ion-view view-title="{{title}}">
<!--ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons-->
  <ion-content>
    <div class="card">
      <ion-item class-="item item-thumbnail-left">
        <img class="category-pic" ng-src="assets\img\icon.png" >
        <span style="font-family: Arial Black; text-align: center;">TriniBiz Admin Center<span>
      </ion-item>
    </div>
    <ion-scroll style="height: 500px">
      <div style="height: 1000px">
      <ion-item  ng-repeat="business in business">
        <!--img class="full-image" ng-src="assets\img\categories\placeholder.jpg"-->
        <!--ion-item class="card item-text-wrap"-->
        <!--website-->
        <button class="button button-full button-assertive" ng-click="openInAppBrowser(business.website)"    ng-hide="isBlank(business.website)">
            Visit Website
        </button>
          <!--services-->
        <div class="item item-icon-left item-text-wrap" style="border: none">
            <i class="icon ion-bowtie outline"></i> {{business.services}}
        </div>
          <!--location-->
          <div class="item item-icon-left item-text-wrap" style="border: none" ng-hide="isBlank(business.street)&&isBlank(business.city)"><i class="icon ion-location assertive"></i> <span ng-hide="isBlank(business.street)">{{business.street}},</span> <span ng-hide="isBlank(business.city)">{{business.city}}</span></div>

          <!--  Business mphone-->
          <div class="item item-positive item-divider"><b>Phone Numbers</b></div>

          <div ng-hide="isBlank(business.phone)"><a class="item item-icon-left" style="border: none; background-color: #fdf9f3" ng-href="tel: {{business.phone}}"> <i class="icon ion-ios-telephone balanced"></i>{{business.phone | tel}}</a></div>

          <div ng-hide="isBlank(business.mphone)"><a class="item item-icon-left" style="border: none; background-color: #fdf9f3" ng-href="tel: {{business.mphone}}"> <i class="icon ion-ios-telephone balanced"></i>{{business.mphone | tel}}</a>
          </div>

          <div class="item item-positive item-divider"><b>Contact Personnel</b></div>


          <div  ng-repeat="contact in business.contactPersons" class="card">

            <ion-card>
                <ion-card-header>
                  <b>{{contact.type | capitalize}}</b>
                </ion-card-header>

                <ion-card-content>
                  <div class="item item-icon-left item-text-wrap" style="border: none">
                    <i class="icon ion-person royal"></i>
                    {{contact.firstName}} {{contact.lastName}}
                  </div>
                  <ion-item class="item item-icon-left item-text-wrap" style="border: none" ng-hide="isBlank(contact.email)">
                    <i class="icon ion-email calm"></i>
                    {{contact.email}}
                  </ion-item>
                </ion-card-content>
          </ion-card>
        </div>

      <div class="item tabs tabs-secondary tabs-icon-left" ng-hide="isAuthenticated()">
        <a ui-sref="app.login" style="margin:0px 2px 0 2px;">Login</a> or <a ui-sref="app.signup" style="margin:0px 2px 0 2px;">Sign up</a> to conduct administrative tasks
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col col-25">
          <div class="button-bar" ng-show="isAuthenticated()">
            <button  class="button button-positive" ng-model="edit" ng-disabled="!can(appActions.editBusiness)" ui-sref="app.editBusiness({businessId: business.id, businessName: business.name})">
                <i class="icon ion-edit"></i>
            </button>
            <button class="button button-assertive"  ng-click="showConfirm(business.id)" ng-disabled="!can(appActions.deleteBusiness)">
                <!--a class="tab-item" ng-click="showPopup(business)" ng-disabled="!can(appActions.review)"-->
              <i class="icon ion-trash-b"></i>
            </button>
          </div>
        </div>
      </div>

    </ion-item>
  </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           </ion-scroll>
    <!--div ng-show="filterBarStatus == 'dirty' && !businesses.length" class="no-results" ng-cloak>
     <no-results></no-results>
   </div-->
    <div ng-show="filterBarStatus=='clean' && businesses.length == 0" ng-cloak>
     <no-businesses></no-businesses>
   </div>
  </ion-content>
</ion-view>
