<ion-view view-title="{{title}}">
<ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher ng-show=isOwnerPage()
    pulling-text="Pull to refresh..."
    on-refresh="refresh()">
  </ion-refresher>
    <ion-list class="list card">
      <ion-item class="item" ng-repeat="business in businesses | orderBy: 'name' ">
        <div class="item item-divider"><h3>{{business.name}}</h3></div>
        <p>
          <img class="full-image" ng-src="assets\img\categories\placeholder.jpg">
        </p>
        <!--ion-item class="card item-text-wrap"-->
          <div class="item item-icon-left"><i class="icon ion-bowtie dark"></i> {{business.services}}</div>
          <div class="item item-icon-left"><a href="{{business.website}}"><i class="icon ion-earth balanced"></i>{{business.website}}</a></div>
          <div class="item item-icon-left"><i class="icon ion-location assertive"></i> {{business.street}}, {{business.city}}</div>
          <div  ng-repeat="contact in business.contactPersons">
          <div class="item item-icon-left"><i class="icon ion-person royal"></i> {{contact.firstName}} {{contact.lastName}} ({{contact.type}})</div>
          <div class="item item-icon-left"><i class="icon ion-email calm"></i>  {{contact.email}}</div>
          <div><a class="item item-icon-left" ng-href="tel: {{contact.phone}}"> <i class="icon ion-ios-telephone-outline"></i>Click-to-Call {{contact.phone | tel}}</a></div>

        </div>
      <!--/ion-item-->
        <!--ion-item ui-sref="app.team({businessId: business.id})" >Business Contacts</ion-item-->
        <div class="item item-body">
          <p>
            <a href="#" class="subdued">{{business.likes.length}} Likes</a>
              <a ng-click="toggleReviews()" class="subdued">{{business.reviews.length}} Reviews (Click-to <i class = "icon ion-arrow-expand"></i>)</a>
          </p>
        </div>
        <!--ion-nav-view-->

        <!--/ion-nav-view-->
        <!--Options Bar: Like, Comment and Rate-->
        <div class="item tabs tabs-secondary tabs-icon-left" ng-show="isAuthenticated()">
        <a href="#" ng-model="like" ng-disabled="!can(appActions.like)" ng-click="likeClick(business)" class="tab-item" >
          <i class="icon ion-thumbsup"></i>
          {{business.liked}}
        </a>
        <a class="tab-item" ng-click="review_rating=isAuthenticated()" ng-disabled="!can(appActions.review)">
        <!--a class="tab-item" ng-click="showPopup(business)" ng-disabled="!can(appActions.review)"-->
          <i class="icon ion-star"></i>
          Rate
        </a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left" ng-hide="isAuthenticated()">
        <a ui-sref="app.login" style="margin:0px 2px 0 2px;">Login</a> or <a ui-sref="app.signup" style="margin:0px 2px 0 2px;">Sign up</a> to like and review
      </div>
      <!--Section below adds profile pic and comment section-->
      <div ng-show="review_rating">
        <form  name="reviewForm" ng-submit="submitReview(business)">
          <ion-list>
              <ion-item>
                <p>{{review.rating}} Stars</p>
                <p>{{review.comment}}</p>
                <p> - {{user().username}}</p>
              </ion-item>
          </ion-list>
          <div class="review_input">
            <div style="background-color: white" class="item-input-wrapper">
              <img class="review-profile-pic" ng-src="{{sessionUser.user.profilePic.url()}}">
              <rating ng-model="review.rating" max="review.max"></rating>
            </div>
            <label class="item item-input" >
              <textarea ng-model="review.comment" placeholder="Enter comment"></textarea>
            </label>

          </div>
            <button class="button button-stable button-block" ng-disabled="reviewForm.$invalid">
              Rate Business
            </button>
      </form>
    </div>
      <!--This section displays all the views for that business-->
      <div ng-show="reviews_display">
          <ion-item class="subdued">{{business.likes.length}} people like this</ion-item>
            <ion-list>
              <ion-item class="item item-body" ng-repeat="review in business.reviews">
                <p>{{review.datetime | date:'short'}}</p>
                <p><rating ng-model="review.rating" ></rating></p>
                <p>{{review.comment}}</p>
                <p></p>
                <p> - {{review.author}}</p>
              </ion-item>
          </ion-list>
      </div>


    </ion-list>
    <!--div ng-show="filterBarStatus == 'dirty' && !businesses.length" class="no-results" ng-cloak>
     <no-results></no-results>
   </div-->
    <div ng-show="filterBarStatus=='clean' && businesses.length == 0" ng-cloak>
     <no-businesses></no-businesses>
   </div>
  </ion-content>
</ion-view>
