<ion-view title="Join TriniBiz">
    <ion-content padding="true" align="justify">
      <div class="item item-body">
        <img class="full-image" ng-src="assets\img\categories\GrandOpening.jpg">
        <h2 class= 'positive'>Register as a user.</h2>
        <h3>Before you register your business, you need to first register as a user of TriniBiz. While registering, you will be prompted to choose whether you are a business user (owner, agent) or a regular user. </h3>
        <h2 class="positive">Business users vs Regular users</h2>
        <h3>Business users are users who own or represent a business registered in TriniBiz. Regular users are simply all other users who do not own or represent a business registered in TriniBiz.</h3>

        <h3>To register your business, please send the following info to invite@trinibiz.co</h3>


        <ul class="list-card">
          <li><h3>-Name and address of business</h3></li>
          <li><h3>-Business Email, phone contact and fax # (fax # not required)</h3></li>
          <li><h3>-Website and Facebook Page (not required)</h3></li>
          <li><h3>-Services provided</h3></li>
          <li><h3>-State whether you are an agent, or the owner of the business</h3></li>
        </ul>
      </div>
</ion-content>
</ion-view>
