<ion-view title="Register User on TriniBiz">
    <ion-content padding="true" align="justify">
      <div class="card">
        <ion-item class-="item item-thumbnail-left">
          <img class="category-pic" ng-src="assets\img\icon.png" >
          <span style="font-family: Arial Black; text-align: center;">TriniBiz Admin Center<span>
        </ion-item>
      </div>
      <div class="item item-body">
        <!--img class="full-image" ng-src="assets\img\categories\GrandOpening.jpg"-->

        <h2 class="positive">Different type of users</h2>
        <h3>There are two types of users: Biz user (business owner or service provider) or a regular user. Business owners are users who own or represent a business registered in TriniBiz. Service Providers are skilled persons who offer services but do not have registered business. Regular users are simply all other users who neither own or represent a business nor service registered in TriniBiz, but rather consume these services or use the app as a consumer.</h3>

        <h2 class= 'positive'>Biz registration requirements</h2>
        <h3>Before you can register a Biz on behalf of a regular user of TriniBiz, you need to first receive an email from that user. Invite requests are received at invite@trinibiz.co (Please check everyday, if you are responsible for reviewing email invitation requests, or communicate daily with the person who is responsible for responding to the requests). A response must be sent to the user within 3 working days. The following are the details each email invite request must contain:</h3>
        <ul class="assertive">
          <li><h3>The Biz user type, whether they are a service provider, or a business owner</h3></li>
          <li><h3>Name and address of business or service</h3></li>
          <li><h3>Business Email, phone contact and fax # (fax # not required)</h3></li>
          <li><h3>Website and Facebook Page (not required)</h3></li>
          <li><h3>Services provided</h3></li>
        </ul>
        <h2 class= 'positive'>Remember to email the user.</h2>
        <h3>Upon registering the Biz, you should email the TriniBiz User, informing him/her that he/she can sign in TriniBiz and use it as a Biz owner.

          <!--h2 class= 'positive'>Information required</h2>
          <h3>Upon clicking the red button to register your Biz, you will be directed to a form that requests the following information to be filled out:</h3-->



          <!--h3>Once you submit this information, your business or service will be added to the ever growing list of solutions. We look forward to your prosperity on the TriniBiz platform</h3-->

          <!--Below your username at the top of the menu, you will see a red button like this:

          <h3><button class= "button button-small button-assertive">Add your Biz</button></h3>
          <h3> A Biz in TriniBiz, is any business you own or a service you currently offer. This button is invitation to register your biz on TriniBiz</h3-->


      </div>
</ion-content>
</ion-view>
