<ion-view view-title="Settings">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <!--ion-item class="item-thumbnail-left">
                <img src="http://graph.facebook.com/{{user.id}}/picture?width=270&height=270"/-->
              <div class="list card">
              <div>
                <ion-item><a ui-sref= "app.terms">Terms & Conditions</a></ion-item>
                <ion-item><a ui-sref= "app.invite">Join TriniBiz</a></ion-item>
              </div>
            </div>
            <!--div class="button-bar">
              <a class="button button-small button-positive">Edit Profile</a>
            </div-->
        </ion-list>
    </ion-content>
</ion-view>
