<ion-view view-title="Settings">
    <ion-content padding="true" class="has-header">
      <div class="card">
        <ion-item class-="item item-thumbnail-left">
          <img class="category-pic" ng-src="assets\img\icon.png" >
          <span style="font-family: Arial Black; text-align: center;">TriniBiz Admin Center<span>
        </ion-item>
      </div>
        <ion-list>
            <!--ion-item class="item-thumbnail-left">
                <img src="http://graph.facebook.com/{{user.id}}/picture?width=270&height=270"/-->
              <div class="list card">
              <div>
                <ion-item ng-hide="isSupplier()"><a ui-sref= "app.invite">Register User on TriniBiz</a></ion-item>
                <ion-item><a ui-sref= "app.terms">Terms & Conditions</a></ion-item>
              </div>
              <!--button class="button button-primary button-block " ng-click="checkForUpdates()">
                Check for updates
              </button>
              <button class="button button-stable button-block button-pulse" ng-if="hasUpdate" ng-click="doUpdate()">
                download update
              </button-->
            </div>
            <!--div class="button-bar">
              <a class="button button-small button-positive">Edit Profile</a>
            </div-->
        </ion-list>
    </ion-content>
</ion-view>
