<ion-view title="Signup" name="signup-view">
    <ion-content padding="true" scroll="false" class="has-header">
    <ion-list>
    <label>
        <span>Sign Up to review businesses</span>
    </label>
        <form class="list" name="signUpForm" novalidate ng-submit="signupEmail()" >
            <!--ion-list-->
                <div class="list">
                  <label span class="item item-input">
                     <input type="text" name="firstname" placeholder="Enter First Name" ng-model="data.firstname" required />
                     <span ng-messages="signUpForm.firstname.$error" ng-messages-include="templates/app_messages.html"></span>
                   </label>
                   <label span class="item item-input">
                      <input type="text" name="lastname" placeholder="Enter Last Name" ng-model="data.lastname" required />
                      <span ng-messages="signUpForm.lastname.$error" ng-messages-include="templates/app_messages.html"></span>
                    </label>
                 <label span class="item item-input">
                    <input type="email" name="username" placeholder="Enter Email as Username" ng-model="data.username" required />
                    <span ng-messages="signUpForm.username.$error" ng-messages-include="templates/app_messages.html"></span>
                  </label>

                <label span class="item item-input">
                    <input type="password" name="password" placeholder="Enter Password - At least 6 characters" ng-model="data.password" ng-minlength="6" required>
                    <span ng-messages="signUpForm.password.$error" ng-messages-include="templates/app_messages.html"></span>
                </label>

                <label span class="item item-input">
                    <input type="password" name="confirmPassword" placeholder="Confirm password - Same as password" ng-model="data.confirmPassword" ng-minlength="6" required compare-to="data.password" />
                    <span ng-messages="signUpForm.confirmPassword.$error" ng-messages-include="templates/app_messages.html"></span>
                </label>

                <!--/ion-list-->
                <button ng-disabled="signUpForm.$invalid" class="button button-stable button-block">
                    Sign up
                </button>
            </div>
        </form>
      </ion-list>
    </ion-content>
</ion-view>
