<ion-view view-title="Tabs">
    <ion-pane>
        <ion-tabs class="item tabs tabs-secondary tabs-icon-left">

            <!-- Tab 1 -->
            <ion-tab title="About" href="">
                <ion-nav-view name="tab-tab1">
                    <ion-content>
                        Tab 1 content
                    </ion-content>

                </ion-nav-view>
            </ion-tab>

            <!-- Tab 2 -->
            <ion-tab title="Followers" href="">
                <ion-nav-view name="tab-tab2">
                    <ion-content>
                        Tab 2 content
                    </ion-content>

                </ion-nav-view>
            </ion-tab>

            <!-- Tab 2 -->
            <ion-tab title="Reviews" href="">
                <ion-nav-view name="tab-tab3">
                    <ion-content>
                        Tab 3 content
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>

    </ion-pane>
</ion-view>





<!--section>
	<ul class="nav nav-pills col-md-12">
	<li ng-class="{ active:panel.isSelected(1) }"><a href ng-click="panel.selectTab(1)">About</a></li>
	<li ng-class="{ active:panel.isSelected(2) }"><a href ng-click="panel.selectTab(2)">Followers</a></li>
	<li ng-class="{ active:panel.isSelected(3) }"><a href ng-click="panel.selectTab(3)">Review</a></li>
	</ul>



<!--div class="item tabs tabs-secondary tabs-icon-left">
	
	<a class="tab-item" ng-class="{ active:panel.isSelected(1) }" ng-click="panel.selectTab(1)">
	    About
	</a>
	<a class="tab-item" ng-class="{ active:panel.isSelected(2) }" ng-click="panel.selectTab(2)">
	    Followers
	</a>
	<a class="tab-item" ng-class="{ active:panel.isSelected(3) }" ng-click="panel.selectTab(3)">
	    Review
	</a>
	

	<div business-about class="off-panel" ng-show="panel.isSelected(1)"></div>
	<div business-followers class="off-panel" ng-show="panel.isSelected(2)"></div>
	<div business-reviews class="off-panel" ng-show="panel.isSelected(3)"></div>
<!--/div>
</section-->